* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
  background-color: #fcfcfc;
  height: 100vh;
  width: 400px;
  flex-shrink: 0;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  margin-bottom: 61px;
}

.sidebar__logo_logo {
  width: 105.058px;
  height: 94px;
  margin-top: 51px;
  margin-left: 19px;
  margin-right: 18.69px;
}

.sidebar__logo_title {
  margin-top: 51px;
}

.sidebar__menu {
  margin-left: 42px;
  padding-top: 67px;
  padding-left: 12px;
}

.sidebar__menu_item {
  margin-bottom: 44px;
}

.sidebar__menu_item_title {
  font-size: 1.5rem;
  color: #415a77;
  font-weight: 700;
  width: 214px;
  height: 70px;
  display: flex;
  align-items: center;
}

.other-options {
  width: 214px;
  border-top: 1px solid #dde7f1;
  border-bottom: 1px solid #dde7f1;
  margin-bottom: 35px;
}

.sidebar-greytext {
  color: #828282;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-greytext_active {
  color: #415a77;
  font-weight: 700;
}

.sidebar__menu_option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 21px;
}

.sidebar__menu_option_icon {
  width: 24px;
  height: 24px;
}

a:hover {
  cursor: pointer;
  color: #415a77;
  font-weight: 700;
}

main {
  display: flex;
}

.main-section {
  margin-left: 80px;
  margin-top: 7px;
  margin-right: 71px;
}

.main-section__title_greeting-text {
  color: #ffa14e;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.greeting-text {
  color: #ffa14e;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}
/* Стили таблицы */

.table_title {
  color: #1f1f1f;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 39.5px;
}

#adoctorDashbordTable {
  display: flex;
  flex-direction: column;
  margin-top: 76px;
  margin-bottom: 0;
  width: 70vw;
  height: 35%;
  background: #fcfcfc;
  padding-left: 54px;
  position: relative;
}

table {
  text-align: left;
  width: 100%;
}

th {
  background: #f9fafb;
  color: #6b7280;
  padding: 16px;
}

td {
  padding: 16px;
  font-size: 18px;
  border-bottom: 1px solid #e5e7eb;
}
